body {
    background-color: #f8f9fa;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.table {
    background-color: #fff;
}

.modal-header,
.modal-footer {
    border: none;
}
