body {
    background-color: #f8f9fa;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #7b68ee !important;
}

.btn-primary {
    background-color: #7b68ee;
    border-color: #7b68ee;
}
.btn-primary:hover {
    background-color: #6a57d5;
    border-color: #6a57d5;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.table {
    background-color: #fff;
}

td {
    white-space: pre-wrap;
}

.table-sm th,
.table-sm td {
    padding: 0.25rem;
}

.edit-btn i,
.delete-btn i {
    font-size: 1.1rem;
}

.day-chart {
    max-height: 200px;
}

.chart-container {
    overflow-x: auto;
    width: 100%;
}

.chart-container canvas {
    width: 100% !important;
}

.attach-btn {
    border-color: #ced4da;
}

.modal-header,
.modal-footer {
    border: none;
}
